<included>

    <!-- LOG_DIR과 LOG_PATTERN을 직접 정의 -->
    <property name="LOG_DIR" value="./omocha-server/server/logs"/>
    <property name="LOG_PATTERN" value="[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%thread] [%logger{0}:%line] - %msg%n"/>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="CONSOLE2" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern><![CDATA[
    [CONSOLE2] %clr([%-5level]){magenta} %clr(%d{yyyy-MM-dd HH:mm:ss}){yellow} [%clr(%thread){green}] [%clr(%logger{0}){cyan}:%clr(%line){blue}] - %msg%n]]>
            </pattern>
        </encoder>
    </appender>

    <appender name="REQUEST1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/request1.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archive/request1.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>10KB</maxFileSize> <!--로그 파일의 최대 크기-->
            <maxHistory>30</maxHistory> <!--로그 파일 최대 보관주기 (단위: 일)-->
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [REQUEST1] ${LOG_PATTERN}
            </pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader> <!--File Header Form-->
        </encoder>
    </appender>

    <appender name="QUERY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/query.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archive/query.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>10KB</maxFileSize> <!--로그 파일의 최대 크기-->
            <maxHistory>30</maxHistory> <!--로그 파일 최대 보관주기 (단위: 일)-->
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [QUERY] ${LOG_PATTERN}
            </pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader> <!--File Header Form-->
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE2"/>
        <appender-ref ref="REQUEST1"/>
    </root>

    <!-- SQL 로그 로거 설정 -->
    <logger name="SQL_LOG1" level="INFO" additivity="false">
        <appender-ref ref="QUERY"/>
    </logger>

</included>