*.env
.gradle
build/
data/logs
docker-postgres
omocha-domain/src/main/generated

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
!**/src/main/**/out/
!**/src/test/**/out/