<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="logback-spring-${spring.profiles.active}.xml"/>

    <conversionRule conversionWord="highlight" converterClass="com.jdh.sample.config.log.CustomHighlightConverter"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul}){black} [%clr(%thread){magenta}] %clr(%-5level){highlight} %clr(%logger{0}){cyan}:%clr(%line){blue} - %msg%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul} [%thread] %-5level [%logger{0}:%line] - %msg%n"/>
    <property name="FILE_DATE_FORMAT" value="%d{yyMMdd}"/>

</configuration>