<included>

    <!-- LOG_DIR과 LOG_PATTERN을 직접 정의 -->
    <property name="LOG_DIR" value="./omocha-server/server/logs"/>
    <property name="LOG_PATTERN"
              value="[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%thread] [%clr(traceId=%X{traceId})] [%logger{0}:%line] - %msg%n"/>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.omocha.api.common.logging.MaskingPatternLayout">
                <maskPattern>([\w.-]+@[\w.-]+\.\w+)</maskPattern> <!-- email 마스킹 처리 -->
                <maskPattern>(?:\w*\s*)?password\s*=\s*([^,)\s]+)</maskPattern> <!-- password 마스킹 처리-->
                <maskPattern>(?:\w*\s*)?Password\s*=\s*([^,)\s]+)</maskPattern> <!-- password 마스킹 처리-->
                <pattern><![CDATA[
    [CONSOLE] %clr([%-5level]){magenta} %clr(%d{yyyy-MM-dd HH:mm:ss}){yellow} [%clr(%thread){green}] [%clr(traceId=%X{traceId}){red}] [%clr(%logger{0}){cyan}:%clr(%line){blue}] - %msg%n]]>
                </pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="REQUEST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/request1.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archive/request1.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize> <!--로그 파일의 최대 크기-->
            <maxHistory>30</maxHistory> <!--로그 파일 최대 보관주기 (단위: 일)-->
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.omocha.api.common.logging.MaskingPatternLayout">
                <maskPattern>([\w.-]+@[\w.-]+\.\w+)</maskPattern> <!-- email 마스킹 처리 -->
                <maskPattern>(?:\w*\s*)?password\s*=\s*([^,)\s]+)</maskPattern> <!-- password 마스킹 처리-->
                <maskPattern>(?:\w*\s*)?Password\s*=\s*([^,)\s]+)</maskPattern> <!-- password 마스킹 처리-->
                <pattern>
                    <![CDATA[[REQUEST] ${LOG_PATTERN}]]>
                </pattern>
            </layout>
            <outputPatternAsHeader>true</outputPatternAsHeader> <!--File Header Form-->
        </encoder>
    </appender>

    <appender name="QUERY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/query.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archive/query.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize> <!--로그 파일의 최대 크기-->
            <maxHistory>30</maxHistory> <!--로그 파일 최대 보관주기 (단위: 일)-->
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.omocha.api.common.logging.MaskingPatternLayout">
                <maskPattern>([\w.-]+@[\w.-]+\.\w+)</maskPattern> <!-- email 마스킹 처리 -->
                <maskPattern>(?:\w*\s*)?password\s*=\s*([^,)\s]+)</maskPattern> <!-- password 마스킹 처리-->
                <maskPattern>(?:\w*\s*)?Password\s*=\s*([^,)\s]+)</maskPattern> <!-- password 마스킹 처리-->
                <pattern>
                    <![CDATA[ [QUERY] ${LOG_PATTERN} ]]>
                </pattern>
            </layout>
            <outputPatternAsHeader>true</outputPatternAsHeader> <!--File Header Form-->
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="REQUEST"/>
    </root>

    <!-- SQL 로그 로거 설정 -->
    <logger name="SQL_LOG" level="INFO" additivity="false">
        <appender-ref ref="QUERY"/>
    </logger>

</included>